/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}

.section-header p {
  color: #fdbe33;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .section-header h2 {
    font-size: 30px;
  }
}